
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
/* ANIMATED RAINBOW BACKGROUND  */
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
    font-family: 'Poppins', sans-serif;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.out-container {
    display: flex;
    align-items: center;
    height: 80vh;
}

/* header styles */
header {
    text-align: center;
    padding: 2rem 0 0 0;
}
header img {
    width:7rem;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}
header h1 {
    color: white;
    text-shadow: 0px 5px 5px rgb(0 0 0 / 10%), 10px 10px 5px rgb(0 0 0 / 5%), -10px 5px 5px rgb(0 0 0 / 5%);
    font-size:x-large;
    font-weight: 600;
    padding: 1rem 0 0 0 ;
    margin-bottom: 0.3rem;
}
header p {
    color: #efefef;
    font-size: small;
    margin-bottom: 1.5rem;
}

/* main links style */
main {
    max-width: 550px;
    margin: auto;
}
.links {
    text-align: center;
    margin: auto;
    border: 0.5px solid #dddddd;
    background-color: rgba(255, 255, 255, .10);  
    backdrop-filter: blur(10px);
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.links:hover{
    color: white;
    background-color: rgba(255, 255, 255, .30);  
    backdrop-filter: blur(15px);
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: white;
}


/* footer style */
footer {
    height: 10vh;
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
}
.footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer a {
    margin-top: 10px;
}
footer div i {
    color: white;
    margin: 20px;
}
.fab {
    display: inline;
    width: 100%;
    text-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/* Icons hovers */
.fa-twitter:hover {
    color: #1DA1F2;
    text-shadow: none;
    transition: 0.2s;
}
.fa-linkedin:hover{
    color: #0077B5;
    text-shadow: none;
    transition: 0.2s;
}
.fa-github:hover{
    color: #24292e;
    text-shadow: none;
    transition: 0.2s;
}
.fa-dribbble:hover {
    color: #ea4c89;
    text-shadow: none;
    transition: 0.2s;
}
.fa-medium:hover {
    color: #222;
    text-shadow: none;
    transition: 0.2s;
}
.fa-instagram:hover {
    color: #f35890;
    text-shadow: none;
    transition: 0.2s;
}

